@charset "UTF-8";

/* Cores:
#5653FF
#45DF5A
 */

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Fira+Sans:ital,wght@0,200;0,400;0,700;0,800;1,200;1,400&family=Fredericka+the+Great&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
    box-shadow: 2px 2px 8px black;
}

/* <!-- Inicio nav header --> */
nav#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

nav#menu ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 5px;
    margin: 0;
    padding: 10px;
    
}

nav#menu a {
    text-decoration: none;
    color: black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #5653FF;
    padding: 5px;
    margin: 2px 2px;
}

.link {
    background-color: #45DF5A;
}

.logo img{
    margin: 0;
    padding: 5px 5px 5px 25px;
    height: 60px;
}
/* <!-- Fim nav header --> */


/* <!-- Inicio Hero section --> */
section#hero-section {
    position: relative;
    overflow: hidden;
    background-color: #5653FF;
    color: white;
    display: grid;
    gap: 20px;
    align-items: center;
    min-height: 45vh;
}

section#hero-section .hero-conteudo {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template: 2fr 1fr / 2fr 1fr 1fr 2fr;
    align-items: center;
}

section#hero-section h1 {
    padding: 10px 20px;

    grid-area: 1 / 1 / 2 / 3;
}

section#hero-section svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

section#hero-section .hero-botao {
    margin: 5px 0px 10px 20px;
    padding: 20px 20px;
    background-color: #45DF5A;
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    box-shadow: 0px 0px 10px #45DF5A;

    grid-area: 2 / 1 / 3 / 3;
    align-self: end;
}

section#hero-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    box-sizing: border-box;

    grid-area: 1 / 2 / 3 / 5;
    align-self: end;
}

/* <!-- Fim Hero section --> */


/* <!-- Inicio dos destaques --> */
section#destaque {
    padding: 20px;
}

.destaque-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.info-destaque {
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.info-destaque i {
    font-size: 40px;
    color: #5653FF;
    margin-bottom: 10px;
}

.info-destaque h3 {
    color: #333;
    margin: 10px 0;
    font-size: 18px;
}

.info-destaque p {
    font-size: 14px;
    line-height: 1.5;
}
/* <!-- Fim dos destaques --> */


/* <!-- Inicio como funciona --> */
.titulo-como-funciona {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -40px;
}

section#como-funciona {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 50px;
}

.funciona-container {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    text-align: center;
}

.funciona-container h3 {
    background-color: #5653FF;
    color: white;
    padding: 20px 5px;
    border-radius: 0px 0px 8px 8px;
    height: 40px;
}
/* <!-- Fim como funciona --> */


/* <!-- Inicio Planos --> */
h1#titulo-planos {
    text-align: center;
}

section#planos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 40px;
    gap: 10px;
    padding: 20px;
}

.planos-container {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    text-align: center;
}

.planos-container ul {
    list-style: none;
}

.planos-container h3 {
    color: white;
    text-shadow: 1px 1px 5px black;
    padding: 10px;
    font-size: 1.4em;
}

h3#card1 {
    background-color: #5653FF;
    border-radius: 8px 8px 0px 0px;
}

.card1 {
    background-color: #5653ff33;
    font-size: 1.8em;
}

p#link1 a {    
    background-color: #5653FF;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #5653FF;
    display: block;
}

p#link1 {
    grid-area: 2 / 1 / 3 / 2;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    width: 100%;
}

h3#card2 {
    background-color: #45DF5A;
    border-radius: 8px 8px 0px 0px;
}

.card2 {
    background-color: #45DF5A33;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.card21 {
    font-size: 1.8em;
}

p#link2 a {    
    background-color: #45DF5A;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #45DF5A;
    display: block;
}

p#link2 {
    text-shadow: 1px 1px 5px black;
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: center;
    width: 100%;
    
}

h3#card3 {
    background-color: #ffd900;
    border-radius: 8px 8px 0px 0px;
}

.card3 {
    background-color: #ffd90033;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.card31 {
    font-size: 1.8em;
}

p#link3 a {    
    background-color: #ffd900;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffd900;
    display: block;
}

p#link3 {
    text-shadow: 1px 1px 5px black;
    text-align: center;
    grid-area: 2 / 3 / 3 / 4;
    align-self: flex-end;
    justify-self: center;
    width: 100%;
}

section#planos li {
    text-align: left;
    padding: 10px 5px 5px 5px;
}
/* <!-- Fim Planos --> */


/* <!-- Inicio Depoimentos --> */
section#depoimentos {
    background-color: #5653FF;
    color: white;
}

h1#titulo-depoimentos {
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.depoimentos-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
}

.depoimentos-container img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    
    width: 140px;
    height: 150px;
    padding: 20px 0px 0px 20px;
}

.depoimentos-container p {
    padding: 0px 40px 0px 20px;
    align-content: end;
}

.nome-depoimento {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    align-self: center;
}
/* <!-- Fim Depoimentos --> */


/* <!-- Inicio Rodapé --> */
footer#footer {
    background-color: #e4e4e4;
    color: black;
    text-align: center;
    padding: 18px 10px;
    font-size: 0.93rem;
    
}

footer#footer .footer-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

footer#footer p {
    margin: 0;
    color: black;
}
/* <!-- Fim Rodapé --> */